<!DOCTYPE html>
<html>
<head>
    <title>Classic Models</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center description">
            <span><%=products[0].textDescription%></span>
        </div>
        <div class="col-sm-12 text-center list-products">
        <%for (i=0;i<products.length;i++){%>
            <div class="col-sm-4 text-center single--list-product">
                <a href="/product/<%=products[i].productCode%>"><span><%=products[i].productName%></span></a>
            </div>
        <%}%>
        </div>
    </div>
</div>

</body>
</html>